@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
.larger-title {
    font-size: 4rem; /* Adjust the size as needed */
    font-weight: bold; /* Optional: make it bold */
}

.is-purple {
    background-color: #29082c; /* Purple color */
}